/** @format */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.active-link:focus {
  text-decoration: underline;
}

.text-color {
  color: blue;
}

.custom-width {
  width: 20rem;
}

.bold {
  font-weight: bolder !important;
}

.max-content-width {
  width: max-content;
}

.active-link {
  text-decoration: underline;
}
